.find-options {
  background-color: whitesmoke;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 10px;
}

.find-options__option {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #2c3e50;
  width: 25%;
}

.find-options__img {
  margin-bottom: 10px;
}

.find-options__text {
  font-size: 0.8em;
}
