.find-options {
  background-color: whitesmoke;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 10px;
}

.find-options__option {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #2c3e50;
  width: 25%;
}

.find-options__img {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.find-options__text {
  font-size: 0.8em;
}

@media screen and (max-width: 360px) {
  .find-options {
    padding: 10px 10px;
  }

  .find-options__img {
    font-size: 1.2em;
  }

  .find-options__text {
    font-size: 0.6em;
  }
}
