body {
  font-family: "Open Sans", sans-serif;
  padding-top: 65px;
}

body,
header,
nav,
aside {
  max-width: 550px;
  margin: auto;
}

a:link,
a:visited {
  text-decoration: none;
}

@media screen and (min-width: 550px) {
  .warning-screen {
    display: flex;
  }
}
