@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
@import "reset.css";
@import "global.css";
@import "header.css";
@import "nav.css";
@import "search-bar.css";
@import "profiles.css";
@import "chats.css";
@import "find.css";
@import "more.css";
@import "profile.css";
@import "chat.css";

/* media query practice */
@media screen and (max-width: 360px) {
  /* more.css */
  .my-profile__img {
    width: 40px;
  }

  .my-profile__info__name,
  .plus-friends__header__title,
  .suggestions__header__title {
    font-size: 0.9em;
  }

  .etc__text,
  .plus-friends__text,
  .suggestions__text {
    font-size: 0.7em;
  }

  .my-profile__info__item {
    font-size: 0.6em;
    color: grey;
  }

  .my-profile__icon {
    font-size: 1.2em;
  }

  .etc__img {
    font-size: 1.2em;
  }

  .plus-friends__header__text {
    font-size: 0.8em;
  }

  .plus-friends__img {
    width: 0.8em;
    height: 0.8em;
  }

  .suggestions__img {
    width: 30px;
  }

  /* nav.css */
  .etc__img,
  .tab-bar__img {
    font-size: 1.2em;
  }

  .tab-bar__text {
    font-size: 0.7em;
  }
}
