.warning-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d6a2e8;
  z-index: 5;
  font-size: 1.5em;
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 550px) {
  .warning-screen {
    display: flex;
  }
}
